.container .heronico {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.container .heronico b {
  color: #80d0c7;
}

.container .heronicoimg img {
  width: 25%;
  position: absolute;
  right: 20%;
  top: 20%;
  border-radius: 50%;
}

.container .heronico p {
  margin-bottom: 30px;
}

.container .heronico a {
  background: #01c38d;
  color: white;
  padding: 10px;
  border-radius: 5%;
}

.container .heronico a:hover {
  filter: drop-shadow(0 0 2em #01c38d);
}

@media screen and (max-width: 780px) {
    .container .heronico {
        text-align: center;
        align-items: center;
      }
}
