.infoCard {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.23);
  /* background: teal; */
  background: #7fffd438;;
  padding: 10px 20px;
  width: 370px;
  border-radius: 5% 5% 5% 5% / 10% 10% 10% 10%;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  /* height: fit-content; */
  /* background: #008080;
  background: -webkit-linear-gradient(152deg, #008080 0%, #222639 100%);
  background: linear-gradient(152deg, #008080 0%, #80d0c7 100%); */
}

.infoCard:hover {
  scale: 1.1;
  background-color: #008080;
  margin: 0px 10px;
  text-decoration-color: #7fffd4;
  background-image:linear-gradient(210deg, #80d0c7 0%, rgba(37, 79, 11, 0) 50%, #80d0c7 100%), url(https://hub.laboratoria.la/hubfs/HUB%20COVER%20%2815%29.jpg);
  background-size: contain;
  transition:2s;
}

.infoCard:hover h1{
  text-decoration-color: #7fffd4;
  transition:1s;
}


.infoCard  aside{
  display: flex;
  flex-direction: column;
}

.infoCard > aside > h1 {
  margin: 0px 0px 10px;
  font-size: 2.2em;
  text-decoration: underline;
  text-decoration-color: #7fffd438;
}

.infoCard a {
  margin: 0px 10px;
}

.infoCard > aside > p {
  color: whitesmoke;
}
